<% @products.each do |product| %>
  
    <% logger.debug "Product: #{product.name}"%>
      <% cache product do %>
        <div class="product-properties col-md-3" id="single_product">
          <h5 class="product-name"><strong><%= product.name %></h5></strong>
        <% if product.image_url != nil %>
          <p class="product-image"><%= image_tag(product.image_url, class:"product-image img-responsive") %></p>
        <% end %>
          <p class="product-description"><%= product.description %></p>
          <!-- <p class="product-color"><%= product.colour %></p> -->
          <p class="product-price"><%= product.price %> €</p>
          <p class="glyphicon-cart"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a></p>
          <td class="first-setting"><%= link_to 'Show', product %></td>
        <% end %> <!-- inner cache end -->

          <% if signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          
        </div>
        
<% end %> <!-- products.each end -->