<p id="notice"><%= notice %></p>

<div class="banner">
<%= image_tag("training1.jpeg", class: "img-responsive product-index-image") %>
</div>

<h1>Products</h1>

<table>
  <thead>

  </thead>

  <tbody class="container">
    <% @products.each do |product| %>
      <tr class="product-properties col-md-4">
        <td class="product-name"><strong><%= product.name %></td></strong>
        <td class="product-image"><%= image_tag(product.image_url) %>
        <td class="product-description"><%= product.description %></td>
        <td class="first-setting"><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
