<body id="products_body">
<div class="banner">
<%= image_tag("training2.jpg", class: "img-responsive product-show-image") %>
</div>

<div class="show-content">
<p id="notice"><%= notice %></p>



<div class="row">
	<div class="col-md-5">
		<p>
		  <strong></strong>
		  <%= image_tag(@product.image_url, class: "show_image img-zoom", data_zoom_image: @product.image_url) %>
		</p>
	</div>
<% cache @product do %>
	<div class="col-md-4">
		<p class="p_show_product_name">
  		<strong><%= @product.name %></strong>
		</p>

		<p>
  		<%= @product.description %>
		</p>

		<!-- <p>
  		<strong>Color:</strong>
  		<%= @product.colour %>
		</p> -->

		<p>
		Bestellmenge: 	
		<select class="selectpicker" data-style="btn-primary" >
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
  		</select>
		</p>

		<p>
		  <%= @product.price %> €
		</p>

		<p id="average-rating", class="average-rating">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

		<%= form_tag "/payments/create" do %>
			<%= hidden_field_tag(:product_id, @product.id) %>
  		<%= render partial: "shared/stripe_checkout_button" %>
		<% end %>


	</div>

	<% end %> <!-- end of caching -->


</div>

<%= render 'new_comment' %>

<p>Subtitle</p>
<p>
	Paragraph Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
</p>




</div>

<% cache(cache_key_for_products) do %>
	<%= render 'featuredProducts', product: @product %>
<% end %> <!-- cache_key_for_products cache end -->

<%= render 'cart', product: @product %>

<% if signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>


<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>
<div class="apple_pagination">
	<%= will_paginate @comments %>
</div>
</body>
